#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    margin-top: 20px;
  }

html, body {
    background-color: #5b5b5c;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
